$font-color: hsl(28, 37%, 23%);
$background-color: hsl(74, 31%, 84%);
$h1-color: #ddb967;
$mask-color: rgba(100, 100, 43, 0.1);
$button-color: hsl(26, 88%, 55%);
$accent-color: hsl(25, 100%, 49%);
$bordercolor: hsl(28, 37%, 23%);
$container-bgcolor: hsl(0, 0%, 95%);
$button-textcolor: hsl(26, 88%, 55);
$button-hover: hsl(25, 100%, 49%);
$shadowcolor: hsl(0, 0%, 100%);
$text-shadow-color: hsl(0, 0%, 0%);
$fadecolor: rgba(255, 255, 255, 0.6);
$a-background-color: hsl(26, 88%, 55%);
$a-text-color: hsl(74, 31%, 84%);
