* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background-color: $background-color;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	color: $font-color;
	@include mq(768px) {
		font-size: 22px;
	}
}

body {
	width: 100%;
	min-height: 100vh;
	@include flexCenter;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0.5rem;
}

main {
	width: 100%;
	max-width: 800px;
	max-height: 100%vh;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	color: $font-color;
	background-color: $mask-color;
	border: 1px solid $bordercolor;
	border-radius: 10px;
	box-shadow: 1px 1px 2.5px $shadowcolor;
}

.main__h1 {
	font-family: 'Oleo Script Swash Caps', cursive;
	color: $font-color;
}

hr {
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-inline: auto;
	border: 1px solid $bordercolor;
}

nav {
	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
		padding: 20px;
		list-style: none;
	}

	li {
		display: inline-block;
	}

	a {
		color: $a-text-color;
		display: block;
		padding: 4px 8px;
		text-decoration: none;
	}
	a:hover,
	a:focus {
		background-color: $a-text-color;
		color: $background-color;
		text-decoration: underline;
		border-radius: 6px;
	}
}
.main__a {
	color: $a-text-color;
}

.main__p {
	font-size: 0.75rem;
}

// Zip Code Page

.container__input {
	font-size: inherit;
	width: 20%;

	margin-top: 10px;
	padding: 6px 6px;
	border-radius: 6px;
}
.btn {
	font-size: inherit;
	border-radius: 6px;
	padding: 6px 12px;
	cursor: pointer;
}
